body{
  background-image: url('scarlet-tree.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family:'Bitcount Grid Single';
  color:white;
  align-items:center;
  justify-content:center;
}
clock {
  font-size: 8rem;
  font-weight: 400;
  opacity: 0.9;
}
